html {
	font-family: Crimson Text;
	line-height: 1.5;
	text-align: center;
	margin-top: 100px;
}

h1 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
}

#original {
	margin-bottom: 50px;
}

p {
	font-size: 18px;
	margin-bottom: 3px;
	margin-left: 250px;
	margin-right: 250px;
}

#improved {
	margin-bottom: 50px;
}

#final {
	margin-bottom: 200px;
}
