html {
        font-family: Crimson Text;
        font-size: 15px;
        margin-left: 190px; 
        margin-right: 190px;
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: center;
} 

#mitski { 
        z-index: 10;
        position: fixed;
        left: 200px;
        top: 50px;
 }

h1 {    color: #003300;
        position: fixed;
        z-index: -1;
        font-size: 22px;
        letter-spacing: 1.2px;
        top:190px;
}

h2 {
        position: fixed;
        color: black;
        font-weight: 400;
        letter-spacing: 1.5px;
        z-index: -1;
        font-size: 18px;
        top:220px;
}

h3 {
     color: #75874b;
     font-size: 17px; 
     letter-spacing: 2px;
     line-height: 0.5;  
}

p {
        line-height: 1.6;
        letter-spacing: 1.1;
}
