html {
	font-family:'Crimson Text', serif;

}

div {
	text-align: center;
}

body {
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 150px;
	margin-bottom: 200px;
}

h1 {
	font-size: 30px;
	letter-spacing: 6px;
	color: #8B0000;
	line-height: 5px;
}


h2 {
	font-size: 25px;
	color: #DC143C;
	letter-spacing: 2px;
	line-height: 3px;
}

h3 {
	font-size: 15px;
	color: #FF7F50;
	letter-spacing: 2px;
	line-height: 6px;
}

p {
	font-size: 15px;
	color: black;
	letter-spacing: 2px;
	line-height: 4px;
}

#semi-bold {
	font-weight: 600;
}

#bold {
	font-weight: 700;
}

#italic {
	font-style: italic;
}

#twopx {
	letter-spacing: 2px;
}

#pointtwopx {
	letter-spacing: -0.2px;
}

#underline {
	text-decoration: underline;
}

#linethrough {
	text-decoration: line-through;
}

#overline {
	text-decoration: overline;
}

#uppercase {
	text-transform: uppercase;
}

#lowercase {
	text-transform: lowercase;
}

#capitalize {
	text-transform: capitalize;
}
